<footer class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-right">
          <a href="http://sa2020.org" title="visit SA2020.org"><img class="footer-logo" src="/img/sa2020_typography.svg" alt="SA2020" />
          </a>
          <p class="text-mid-gray text-sm">Contact us: <a href="mailto:info@sa2020.org" title="email SA2020">info@sa2020.org</a></p>
          <!-- <nav class="text-sm">
            <ul class="unstyled top-level-nav">
              <li><a href="/" title="Home" class="uppercase text-mid-gray">Home</a></li>
              <li><a href="#" title="Menu" class="uppercase text-mid-gray toggle-off-canvas-nav">Menu</a></li>
              <li><a href="/faq/" title="Frequently asked questions" class="uppercase text-mid-gray">Voting FAQ</a></li>
            </ul>
          </nav> -->
        </div>
	      <div class="footer-left">
          <p class="uppercase text-mid-gray text-sm mobile-hide">Help make projects like this possible:
          </p>
          <a class="btn btn-sm btn-secondary" href="https://www.givegab.com/donations/new?group_id=sa2020" target="_blank" onclick="trackOutboundLink('https://www.givegab.com/donations/new?group_id=sa2020', true, 'Donate Button');">Donate</a>

          <p class="attribution text-mid-gray text-xsm">Web Design &amp; Development provided by:<br /> 
            <a class="text-sm" href="https://www.linkedin.com/in/claire-osburn-remmert-550ab249/" title="claire osburn website" target="_blank">
              <strong>Claire Remmert</strong>
            </a>
          </p>
          <p class="text-xsm text-mid-gray">©2017 SA2020</p>
        </div>
      </div>
    </div>
  </div>
</footer>

