<footer class="site-footer bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      	<nav class="text-right pull-right text-sm">
	        <ul class="unstyled top-level-nav">
	          <li><a href="#" title="Voting information by location" class="uppercase text-mid-gray toggle-off-canvas-nav">What's on the ballot</a></li>
	          <li><a href="/faq/" title="Frequently asked questions" class="uppercase text-mid-gray">Voting FAQ</a></li>
            <li><a href="mailto:info@sa2020.org" title="Contact Us" class="uppercase text-mid-gray">Contact Us</a></li>
	        </ul>
	      </nav>
	      <div class="pull-left">
	        <p class="text-mid-gray text-sm">Powered by:</p>
	        <a href="http://sa2020.org" title="visit SA2020.org"><img src="/img/sa2020_typography.png" alt="SA2020" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
