<header class="site-header" role="banner">

  <div class="container">
    <div class="row">

      <a class="site-title text-sa-black" href="{{ "/" | relative_url}}">
        <p class="site-title-intro">Next San Antonio Election:</p>
        <p class="site-title-main text-secondary">May 6, 2017</p>
        <p class="site-title-sub">Early Voting starts April 1</p>
      </a>

      <nav class="global-nav desktop-hide">
        <ul class="unstyled top-level-nav">
          <!-- <li><a href="/" title="Home" class="uppercase text-sa-black">Home</a></li> -->
          <li><a href="#" title="Voting information by location" class="uppercase text-sa-black toggle-off-canvas-nav">What's on the ballot</a></li>
          <li><a href="/faq/" title="Frequently asked questions" class="uppercase text-sa-black">Voting FAQ</a></li>
        </ul>
      </nav>

      <p class="mobile-show text-xl pull-right"><a href="#" title="Mobile navigation" class="toggle-off-canvas-nav text-sa-black"><i class="fa fa-bars" aria-hidden="true"></i></a></p>

      </div><!--./row-->
  </div><!--./container-->

</header>
