<header class="translate bg-light-gray">
  <a href="/" title="home"><img class="pull-left max-full-width logo-ilsa" src="/img/ilsa-logo-1.png" title="I love San Antonio: Voting Resource by SA2020"/></a>

   <button class="hamburger hamburger--collapse hamburger-main-nav pull-right toggle-off-canvas-nav" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <!-- GOOGLE TRANSLATE BUTTON -->
  <div id="google_translate_element" class="pull-right mobile-pull-left"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <!-- END GOOGLE TRANSLATE BUTTON -->

  <!-- <a href="http://meencantasanantonio.org/" class="pull-right mobile-pull-left btn btn-xsm btn-primary">En Espa&Ntilde;ol</a> -->
  <!-- <p class="text-xsm text-primary text-right mobile-hide">Versión en español pronto :)</p> -->

</header>

<!-- <header class="site-header" role="banner">
  <div class="container">
    <div class="row"> 
      <div class="col-md-12">

        <button class="hamburger hamburger--collapse mobile-show pull-right toggle-off-canvas-nav" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

        <a class="site-title text-sa-black pull-left" href="{{ "/" | relative_url}}">
          <p class="site-title-intro">Next San Antonio Election:</p>
          <p class="site-title-main text-sa-dark-aqua">June 10, 2017</p>
          <p class="site-title-sub text-med mobile-hide"><strong>Early Voting: May 30 - June 6</strong></p>
          <p class="site-title-sub mobile-show"><strong>Early Voting: May 30 - June 6</strong></p>
        </a>

        <nav class="global-nav mobile-hide">
          <ul class="unstyled top-level-nav">
            <li><a href="/" title="Home" class="uppercase text-sa-black">Home</a></li>
            <li><a href="#" title="Voting information by location" class="uppercase text-sa-black toggle-off-canvas-nav">What's on the ballot</a></li>
            <li><a href="/faq/" title="Frequently asked questions" class="uppercase text-sa-black">Voting FAQ</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div> 
</header> -->
