<header class="site-header" role="banner">

  <div class="container">
    <div class="row">

      <a class="site-title pull-left text-sa-black" href="{{ "/" | relative_url}}">
        <p class="site-title-intro">Next San Antonio Election:</p>
        <p class="site-title-main">May 6, 2017</p>
        <p class="site-title-sub">Early Voting starts April 1</p>
      </a>

      <nav class="global-nav pull-right">
        <ul class="unstyled">
          <li><a href="#" title="" class="uppercase text-sa-black">What's on the ballot</a></li>
          <li><a href="#" title="" class="uppercase text-sa-black">Voting FAQ</a></li>
        </ul>
      </nav>

      </div><!--./row-->
  </div><!--./container-->

</header>
