<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Where did all this amazing info come from?</h2>
          <div class="logo-container">
            
            <a target="_blank" href="http://cinow.info/" title="CI:Now Website"><img src="/img/logos/cinow.png" alt="CI:Now logo" class="credit-logo"/></a>            

            <a target="_blank" href="https://www.bexar.org/elections" title="Bexar County Elections Website"><img src="/img/logos/bexar-county.jpg" alt="Bexar County logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://www.sanantonio.gov/ElectionsCampaignFinance" title="City of San Antonio website"><img src="/img/logos/city-of-san-antonio.png" alt="City of San Antonio logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://tpr.org/programs/source#stream" title="Texas Public Radio website"><img src="/img/logos/tpr.png" alt="Texas Public Radio logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://organizesa.com" title="OrganizeSA"><img src="/img/logos/organize-sa.png" alt="OrganizeSA logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.civictechfoundation.org/" title="Civic Tech Foundation website"><img src="/img/logos/ctf.png" alt="Civic Tech Foundation logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.lwvsanantonio.org" title="League of Women Voters website"><img src="/img/logos/league-of-women-voters.jpeg" alt="League of Women Voters logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://www.votetexas.gov" title="Texas Secretary of State website"><img src="/img/logos/texas-secretary-of-state.png" alt="Texas Secretary of State logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://nowcastsa.com/category/politics" title="NowCastSA website"><img src="/img/logos/nowcastsa.png" alt="NowCastSA logo" class="credit-logo"/></a>

            <a target="_blank" href="https://therivardreport.com" title="Rivard Report website"><img src="/img/logos/rivard-report.png" alt="Rivard Report logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.sahcc.org/government-affairs" title="San Antonio Hispanic Chamber Website"><img src="/img/logos/sahcc.png" alt="San Antonio Hispanic Chamber of Commerce logo" class="credit-logo"/></a>

            <a target="_blank" href="http://thinkvoting.com" title="Think Voting Website"><img src="/img/logos/think-voting.png" alt="Think Voting App logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.vote411.org" title="Vote411.org"><img src="/img/logos/vote411.gif" alt="Vote411 logo" class="credit-logo"/></a>

            <a target="_blank" href="http://video.klrn.org/show/texas-week" title="KLRN website"><img src="/img/logos/klrn.png" alt="KLRN logo" class="credit-logo"/></a>

            <a target="_blank" href="http://movesanantonio.org" title="MOVE SA website"><img src="/img/logos/movesa.png" alt="MOVE SA logo" class="credit-logo"/></a>

            <a target="_blank" href="https://www.saspeakup.com" title="SA Speakup"><img src="/img/logos/speakup.jpg" alt="SASpeakUp Logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.mifamiliavota.org/where-we-are/texas/" title="Mi Familia Vota website"><img src="/img/logos/mi-familia-vota.jpg" alt="Mi Familia Vota logo" class="credit-logo"/></a>

          </div>
        </div>
      </div>
    </div>
  </section>