
  <section class="reminder bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class=" text-center">Want a reminder?</h2>
        </div>
      </div>
      <div class="row">  
        <div class="col-md-5 col-md-offset-1">
          <div class="reminder-box">
            <img class="reminder-icon" src="/img/email.svg" alt="email icon" />
            <h3 class="">We'll Email You</h3>
            <p class='text-sm'>We'll send you email reminders about early voting, poll locations, Election Day, and ways to stay involved after the election!</p>
            <a class="btn btn-sa-dark-aqua" href="http://eepurl.com/cDmzyr" target="_blank" title="sign up for email reminders" onclick="trackOutboundLink('http://eepurl.com/cDmzyr', true, 'Email Signup');">Sign Me Up</a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="reminder-box">
            <img class="reminder-icon" src="/img/text.svg" alt="text icon" />
            <h3 class="">We’ll Text You</h3>
            <p class="text-sm">Text <strong>MOVE</strong> to <strong>57711</strong> to get reminders and updates on the election from MOVE SA!</p>
            <!-- <div class="spacer-sm mobile-hide"></div>  -->
            <p class="text-sm">MOVE San Antonio is a grassroots, nonpartisan organization. <a href="http://movesanantonio.org" title="Find out more" target="_blank">Learn more.</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>