
  <section class="reminder section-tight">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Stay Involved</h2>
          <!-- <div class="spacer-sm"></div> -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <div class="spacer-sm"></div>
          <p class="h1 text-primary"><i class="fa fa-signal"></i></p>
          <h3 class="">See Our Community’s Progress</h3>
          <p class="text-left">Increasing voter turnout and civic engagement is just one piece of the puzzle. Check out SA2020’s 2017 Impact Report to see where San Antonio stands on the goals we set together.</p>
          <p class=""><a class="btn btn-tertiary btn-sm" href="https://www.sa2020.org/blog/sa2020_resources/2017-impact-report/" target="_blank" title="SA2020 Report" onclick="trackOutboundLink('https://www.sa2020.org/blog/sa2020_resources/2017-impact-report/',true, 'SA2020 2018 Report');">See the Report</a></p>
        </div>
        <div class="col-md-4">
          <div class="spacer-sm"></div>
          <p class="h1 text-cause-education "><i class="fa fa-bicycle"></i></p>
          <h3 class="">Continue Taking Action</h3>
          <p class="text-left">When we all pitch in, we can move the needle on our shared goals. Celebrate San Antonio’s 300th birthday with 300 ways to make an impact. Commit to one new action to drive more progress in San Antonio.</p>
          <p class=""><a class="btn btn-tertiary btn-sm" href="https://www.sa2020.org/300" target="_blank" title="SA2020 Commitments" onclick="trackOutboundLink('https://www.sa2020.org/300',true, 'SA2020 300 Commitment');">Make a Commitment</a></p>
        </div>  
        <div class="col-md-4">
          <div class="spacer-sm"></div>
          <p class="h1 text-cause-economic "><i class="fa fa-envelope"></i></p>
          <h3 class="">Stay Plugged-In</h3>
          <p class="text-left">We'll send you emails about ways to stay involved in your community, including opportunities to give back, and remind you when more elections are coming up.</p>
          <p class=""><a class="btn btn-tertiary btn-sm" href="http://eepurl.com/YBPw " target="_blank" title="sign up for email reminders" onclick="trackOutboundLink('http://eepurl.com/YBPw ', true, 'Email Signup');">Sign Me Up</a></p>
        </div>
        
      </div>
    </div>
  </section>