
  <section class="reminder section-tight">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">What's Next?</h2>
          <!-- <div class="spacer-sm"></div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="spacer-sm"></div>
          <a href="" title="SA Speakup website"><img class="reminder-icon" src="/img/logos/sa-speakup.png" alt="SA Speakup" />
          </a>
          <h3>Know Your Budget</h3>
          <p>The city budget is the next big thing that our new elected representatives will approve. Learn more about how the budget is created and stay tuned for upcoming community workshops.</p>
          <p><a href="https://www.saspeakup.com/" target="_blank" title="SA SpeakUp" onclick="trackOutboundLink('https://www.saspeakup.com/',true, 'SA SpeakUp learn more');">Learn More >></a></p>
        </div>
        <div class="col-md-4">
          <div class="spacer-sm"></div>
          <a href="http://www.satomorrow.com/" title="SA Tomorrow website"><img class="reminder-icon" src="/img/logos/sa-tomorrow-logo.png" alt="SATomorrow" />
          </a>
          <h3>Help Guide the Future</h3>
          <p>By 2040, our City is expected to receive over 1 million additional people. SA Tomorrow is an innovative, three-pronged planning effort to guide the city toward smart, sustainable growth. </p>
          <p><a href="http://www.satomorrow.com/" target="_blank" title="SA Tomorrow" onclick="trackOutboundLink('http://www.satomorrow.com/',true, 'SA Tomorrow learn more');">Learn More >></a></p>
        </div>  
        <div class="col-md-4">
          <div class="spacer-sm"></div>
          <a href="http://sa2020.org" title="visit SA2020.org"><img class="reminder-icon" src="/img/sa2020_typography.svg" alt="SA2020" />
          </a>
          <h3 class="">Stay Plugged-In</h3>
          <p>We'll send you emails about ways to stay involved in your community, including opportunities to volunteer, and remind you when more elections are coming up. </p>
          <a class="" href="http://eepurl.com/cDmzyr" target="_blank" title="sign up for email reminders" onclick="trackOutboundLink('http://eepurl.com/cDmzyr', true, 'Email Signup');">Sign Me Up >></a>
        </div>
        
      </div>
    </div>
  </section>