/*------------------------------------*\
    #COLOR LIST
\*------------------------------------*/

$colors: (
  primary:                 #ED7503,
  secondary:               #E01B1A,
  tertiary:                #00C9C7,
  primary-dark:            #E47717,
  secondary-dark:          #CC1817,
  tertiary-dark:           #15B9B6,
  sa-dark-aqua:            #1B9896,
  success:                 #1B9896,
  sa-black:                #1e1e1e,
  dark-gray:               #4A4A4A,
  border-gray:             #E8E8E8,
  mid-gray:                #737271,
  hush-gray:               #E9ECF0,
  light-gray:              #f7f7f7,
  sa-white:                #FFFFFF,
  cause-education:         #B1DDC9,
  cause-civic:             #F6F06A,
  cause-economic:          #8f4587,
  cause-arts:              #004578,
  cause-safety:            #7cd468,
  cause-downtown:          #3166b8,
  cause-environmental:     #00b16e,
  cause-family:            #ef3f7e,
  cause-health:            #a59dd1,
  cause-neighborhoods:     #00c7c6,
  cause-transportation:    #00c7c6
);

// Use key for color
// Usage: foo { color: col("primary"); }
// Compiles: foo { color: #57C9B4; }
@function col($col) {
  @return map-get($colors, '#{$col}');
}


body {
  background-color: col("sa-white");
}