/*------------------------------------*\
    #COMPONENT - NUMBER BOX
\*------------------------------------*/

.number-box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.number-box {
	width: 90%;
	padding: 70px 55px;
	text-align: center;
	margin: 10px;
	margin-bottom: 20px;
	display: inline-block;
	.number-box--number,
	.number-box--description {
		margin: 0;
	}
	.number-box--description {
		@include font-size(1.4);
	}
	.number-box--number {
		font-family: $headline-type;
		@include font-size(8.5);
		line-height: .9;
		font-weight: 700;
	}
	@media screen and (max-width: 769px) {
		padding: 50px 55px;
	    display: block;
	    margin: 0 auto 20px auto;
		.number-box--number {
			@include font-size(5.5);
		}
	}
}