/*------------------------------------*\
    #ICONS STYLES
\*------------------------------------*/

.icon-large,
.icon-med,
.icon-small { display:inline-block; }

.icon-large svg,
.icon-large img { width: 100px; height: 100px; }
.icon-med svg,
.icon-med img   { width: 53px; height: 53px; }
.icon-small svg,
.icon-small img { width: 35px; height: 35px; }

.media-figure.icon { margin-top: 10px; }

.icon-circle {
  width: 200px;
  height: 200px;
	display: inline-block;
	@include border-radius(50%);
	padding: 55px;
	margin-bottom: 20px; 
}

/*------------------------------------*\
    #SVG ICON INCLUDES COLOR TRUMPS
    #Apply class to parent element
\*------------------------------------*/
@each $color, $hex in $colors {
  .icon-fill-#{$color} {
    svg g#Line_Icons * { fill: $hex !important; }
  }
}

