/*------------------------------------*\
    #MODAL STYLES
\*------------------------------------*/

#start-here-modal {
	.modal-header {
	    border-bottom: none;
	}
	.modal-body {
		max-width: 100%;
		.modal-box {
			padding: 40px 20px 40px 20px;
			border: 2px solid col(hush-gray);
			margin: 10px;
			text-align: center;
			display: inline-block;
			height: 135px;
			position: relative;
			&:hover {
				cursor: pointer;
				text-decoration: none;
				border: 2px solid col(tertiary) !important; 
			}
			@media screen and (max-width: 769px) {
				padding: 20px;
				height: auto;
				display: block;
				width: 80%;
				margin: 10px auto;
			}
		}
		.btn-box {
			margin-bottom: 30px;    
			margin: 0 auto;
			text-align: center;
		}
	}
	.modal-header h4 { 
		margin-top: 10rem; 
		margin-bottom: 1rem;
	}
	a:hover { cursor: pointer; text-decoration: none; }
	@media (min-width: 768px) {
		.modal-dialog { width: 700px; }
		.modal-body { padding: 50px 15px 150px 15px; }
		.modal-box { width: 29%;	}
	}
}
