/*------------------------------------*\
    #PAGE - DISTRICT
\*------------------------------------*/

.ballot-box {
	padding: 20px;
	margin-bottom: 20px;
	background-color: col(light-gray);
	h3 { 
		@include font-size(2.8); 
	}
	.option-box {
		background-color: col("sa-white");
		padding: 10px;
		&:not(:last-of-type) { margin-bottom: 10px; }
		&.option-box--candidate {
			h4 { 
				margin: 1rem 0 .25rem 0;
			}
			.btn { 
				margin: 5px 0; 
			}
			@media screen and (max-width: 769px) {
				padding: 20px;
				img { 
					max-width: 100px; 
					margin-bottom: 1rem;
				}
				.btn {
					min-width: 70px;
			    @include font-size(1.2);
				}
				h4 {
					margin-top: 0;
				}
			}
		}
	}
	&.ballot-box--mayor 		{ border-left: 8px solid col(sa-dark-aqua); }
	&.ballot-box--council 	{ border-left: 8px solid col(primary); }
	&.ballot-box--bond 			{ border-left: 8px solid col(cause-civic); }
	&.ballot-box--schools		{ border-left: 8px solid col(cause-education); }
	&.ballot-box--ac-bond		{ border-left: 8px solid col(cause-economic); }
	&.ballot-box--bond {
		.bond-icon {
			width: 150px;
			height: 150px;
			padding: 40px;
		}
		.bond-percent {
			padding: 3px;
		}
		.option-box.option-box--bond {
			padding: 20px 20px 10px 20px;
		}
	}
	&.ballot-box--schools {
		ul ul {
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}
	@media screen and (max-width: 769px) {
		padding: 20px 10px 10px 10px;
	}
}


.map-thumb {
	padding: 13px;
	max-width: 300px;
	border: 1px solid col(hush-gray);
	margin-bottom: 8px;
}

.resources-list {
	h4 { 
		margin-bottom: 0;
		&:not(:first-of-type) {
			margin-top: 30px;
		}
	}
	li { padding: 7px 0; }
}

/* DISTRICT PAGE NUMBER BOXES */

.number-box.number-box--district {
	padding: 50px 30px;
  margin: 10px auto 20px auto;
  display: block;
	.number-box--number {
		@include font-size(5.5);
	}
	@media screen and (max-width: 769px) {
		display: none;
	}
}
.ballot-box--bond {
	.number-box {
		padding: 20px; 
		width: 100%;
		margin: 0 0 20px 0;
		.number-box--number {
			@include font-size(6.5);
		}
		@media screen and (max-width: 769px) {
			padding: 20px; 
			.number-box--number { 
				@include font-size(4.5); 
			}
		}
	}
}

/* SHOW/HIDE TOGGLE STYLES */
a.show-hide {
	&:hover { text-decoration: none; }
	@media screen and (max-width: 769px) {
		padding: 15px 0;
	}
}

