/*------------------------------------*\
    #PAGE - DISTRICT
\*------------------------------------*/

.ballot-box {
	padding: 20px;
	margin-bottom: 20px;
	background-color: col(light-gray);
	h3 { @include font-size(2.8); }
	.option-box {
		background-color: col("sa-white");
		padding: 20px;
		margin-bottom:10px;
		// border-top: 5px solid col(secondary);
		&.option-box--candidate {
			img {
				max-width: 150px;
				margin-right: 20px;
			}
		}
	}
	&.ballot-box--mayor 		{ border-left: 8px solid col(sa-dark-aqua); }
	&.ballot-box--council 	{ border-left: 8px solid col(primary); }
	&.ballot-box--bond 			{ border-left: 8px solid col(cause-civic); }
	&.ballot-box--schools		{ border-left: 8px solid col(cause-education); }
	&.ballot-box--ac-bond		{ border-left: 8px solid col(cause-economic); }
	&.ballot-box--bond {
		.bond-icon {
			width: 150px;
			height: 150px;
			padding: 40px;
		}
		.bond-percent {
			padding: 3px;
		}
	}
	&.ballot-box--schools {
		ul ul {
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}
}
.ballot-box--bond .number-box .number-box--number {
	@include font-size(6.5);
}

.map-thumb {
	padding: 13px;
	max-width: 300px;
	border: 1px solid col(hush-gray);
	margin-bottom: 8px;
}

.resources-list {
	h4 { 
		margin-bottom: 0;
		&:not(:first-of-type) {
			margin-top: 30px;
		}
	}
	li { padding: 7px 0; }
}