/*------------------------------------*\
    #SECTION - CREDIT LOGOS
\*------------------------------------*/

.logo-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.credit-logo {
		max-width: 150px;
		margin: 20px;
		@media screen and (max-width: 769px) {
			max-width: 100px;
		}
	}
}