/*------------------------------------*\
    #SECTION - HOME OPTIONS
\*------------------------------------*/

.options-container {
	.option {
		padding: 0 70px;
		@media screen and (max-width: 769px) {
			padding: 0 30px;
	    margin-bottom: 50px;
		}
	}
}