
/*------------------------------------*\
    #REMINDER SECTION
\*------------------------------------*/

section.reminder {
	.reminder-box {
		// text-align: center;
		padding: 20px 50px;
	}
	.reminder-icon { 
		height: 70px;
    margin-bottom: 30px; 
	}
}