/*------------------------------------*\
    #SECTION - HEADER
\*------------------------------------*/

header {
	border-bottom: 2px solid col(light-gray);
	padding: 10px 0;
	@media screen and (max-width: 600px) {
		text-align: center;
	}
}