/*------------------------------------*\
    #SECTION - HOME OPTIONS
\*------------------------------------*/

.options-container {
	img { max-width: 60px; }
	.option {
		padding: 0 70px;
		@media screen and (max-width: 1200px) {
			max-width: 65%;
		    margin: 0 auto 50px auto;
		}
		@media screen and (max-width: 769px) {
			padding: 0 30px;
		    max-width: 80%;
		}
	}
}