
/*------------------------------------*\
    #REMINDER SECTION
\*------------------------------------*/

section.reminder {
	.reminder-box {
		padding: 20px 50px;
		@media screen and (max-width: 769px) {
			padding: 20px;
			text-align: center;
		}
	}
	.reminder-icon { 
		height: 70px;
    margin-bottom: 30px; 
	}
}