---
layout: default
---

<section class="hero has-bg-img bg-color-overlay-tertiary" style="background-image: url('/img/maps/bg-map-d{{page.district}}.png')">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h1 class="hero-header text-sa-white">{{ page.title }}</h1>
				<div class="spacer-sm mobile-hide"></div>
			</div>
			<div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="number-box number-box--district bg-sa-dark-aqua">
          	{% if page.district == "3" %}
            <p class="number-box--number text-sa-white">{{ site.data.stats[page.district]["turnout"] }}</p>
            <p class="number-box--description text-sa-white">voters in the 2017 General Election</p>
            {% elsif page.district == "4" %}
            <p class="number-box--number text-sa-white">{{ site.data.stats[page.district]["turnout"] }}</p>
            <p class="number-box--description text-sa-white">voters in the 2017 General Election</p>
            {% elsif page.district == "5" %}
            <p class="number-box--number text-sa-white">{{ site.data.stats[page.district]["turnout"] }}</p>
            <p class="number-box--description text-sa-white">voters in the 2017 General Election</p>
            {% elsif page.district == "7" %}
            <p class="number-box--number text-sa-white">{{ site.data.stats[page.district]["turnout"] }}</p>
            <p class="number-box--description text-sa-white">voters in the 2017 General Election</p>
            {% else %}
            <p class="number-box--number text-sa-white">{{ site.data.stats[page.district]["turnout"] }}</p>
            <p class="number-box--description text-sa-white">voters in the June 2017 Election</p>
            {% endif %}
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="number-box number-box--district bg-sa-dark-aqua">
            <p class="number-box--number text-sa-white">{{ site.data.stats[page.district]["size"] }}</p>
            <p class="number-box--description text-sa-white">Square Miles in D{{page.district}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="number-box number-box--district bg-sa-dark-aqua">
            <p class="number-box--number text-sa-white">{{ site.data.stats[page.district]["population"] }}</p>
            <p class="number-box--description text-sa-white">Population of D{{page.district}}</p>
          </div>
        </div>
			</div>
		</div>
	</div>
</section>


<section class="district-body section-tight">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="addthis_inline_share_toolbox pull-right clearfix"></div>

				<h2 class="">{{ page.title }} Representatives</h2>
				<hr />
				<h3 class="">Mayor</h3>
				<div class="row">
					{% assign mayorCandidates = site.data.candidates["mayor"] %}
					
					{% assign mayorLength = mayorCandidates | size %}

					{% for candidate in mayorCandidates %}

					<div class="col-sm-3">
						{% if candidate.photo != "" %}
						<img class="responsive district-page-results" src="{{ candidate.photo }}" alt="{{ candidate.name }} photo" />
						{% else %}
						<img class="responsive district-page-results mobile-hide" src="/img/candidates/no-photo.png" alt="no photo provided" />
						{% endif %}
					</div>
					<div class="col-sm-6">
						<h4 class="has-subtitle">{{ candidate.name }}</h4>
						
						<div class="social-icons">
							{% if candidate.fb != ""  %}
							<a class="text-xl" target="_blank" href="{{ candidate.fb }}" title="view facebook page" onclick="trackOutboundLink('{{ candidate.fb }}', true, '{{ candidate.name }} Facebook');"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
							{% endif %}
							{% if candidate.twitter != ""  %}
							<a class="text-xl" target="_blank" href="{{ candidate.twitter }}" title="view twitter page" onclick="trackOutboundLink('{{ candidate.twitter }}', true, '{{ candidate.name }} Twitter');"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							{% endif %}
							{% if candidate.instagram != ""  %}
							<a class="text-xl" target="_blank" href="{{ candidate.instagram }}" title="view instagram" onclick="trackOutboundLink('{{ candidate.instagram }}', true, '{{ candidate.name }} Instagram');"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							{% endif %}
						</div>
					</div>

					{% endfor %}
				</div>

				<div class="spacer-sm"></div>

				{% assign councilCandidates = site.data.candidates[page.district] %}
				{% assign length = councilCandidates | size %}
				{% if length == 1 %}
					
				{% for candidate in councilCandidates %}
				<h3 class="">{{ page.title }} City Council</h3>
				<div class="row">
					<div class="col-sm-3">
						{% if candidate.photo != "" %}
						<img class="responsive district-page-results" src="{{ candidate.photo }}" alt="{{ candidate.name }} photo" />
						{% else %}
						<img class="responsive district-page-results mobile-hide" src="/img/candidates/no-photo.png" alt="no photo provided" />
						{% endif %}
					</div>
					<div class="col-sm-6">
						<h4 class="has-subtitle">{{ candidate.name }}</h4>

						<div class="">
							{% if candidate.cityLink != "" %}
							<a class="text-sm underline subtitle" target="_blank" href="{{ candidate.cityLink }}" title="view city webpage" onclick="trackOutboundLink('{{ candidate.cityLink }}', true, '{{ candidate.name }} City Page');">Learn More About {{candidate.name}}</a>
							{% endif %}
							{% if candidate.phone != "" %}
							<p class="text-sm">Contact Office: {{ candidate.phone }}</p>
							{% endif %}
						</div>

						
						<div class="social-icons">
							{% if candidate.fb != ""  %}
							<a class="text-xl" target="_blank" href="{{ candidate.fb }}" title="view facebook page" onclick="trackOutboundLink('{{ candidate.fb }}', true, '{{ candidate.name }} Facebook');"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
							{% endif %}
							{% if candidate.twitter != ""  %}
							<a class="text-xl" target="_blank" href="{{ candidate.twitter }}" title="view twitter page" onclick="trackOutboundLink('{{ candidate.twitter }}', true, '{{ candidate.name }} Twitter');"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							{% endif %}
							{% if candidate.instagram != ""  %}
							<a class="text-xl" target="_blank" href="{{ candidate.instagram }}" title="view instagram" onclick="trackOutboundLink('{{ candidate.instagram }}', true, '{{ candidate.name }} Instagram');"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							{% endif %}
						</div>
					</div>
				</div>

				{% endfor %}

				<div class="spacer-sm"></div>

				{% endif %}


			</div>

			<div class="col-md-3 col-md-offset-1">

				<h3>{{ page.title }} Map</h3>

				{% assign largerMapLink = site.data.stats[page.district]['map'] %}

				<a href="{{ largerMapLink }}" target="_blank" title="View larger map">
					<img class="responsive map-thumb" src="{{ site.data.stats[page.district]['map-thumb'] }}" />
				</a>
				<p class="text-sm"><a href="{{ largerMapLink }}" target="_blank" title="View larger map" onclick="trackOutboundLink('{{ largerMapLink }}',true,'District {{ page.district }} Map');">View larger PDF >></a></p>

				<hr />

				<h3>{{ page.title }} Facts</h3>
				{% assign largerFactsLink = site.data.stats[page.district]['facts'] %}

				<a href="{{ largerFactsLink }}" target="_blank" title="View larger facts">
					<img class="responsive map-thumb" src="{{ site.data.stats[page.district]['facts-thumb'] }}" />
				</a>
				<p class="text-sm"><a href="{{ largerFactsLink }}" target="_blank" title="View larger facts" onclick="trackOutboundLink('{{ largerFactsLink }}',true,'District {{ page.district }} Facts');">View larger PDF >></a></p>

				<!-- <h3 class="">Stay Involved</h3>
				<div class="resources-list">
					<ul class="unstyled">
						<li><a href="https://webservices.sos.state.tx.us/vrapp/index.asp" title="Register to Vote" target="_blank" onclick="trackOutboundLink('https://webservices.sos.state.tx.us/vrapp/index.asp',true,'Register to vote');">Register to Vote</a></li>
						<li><a href="https://www.bexar.org/2229/Voter-Registration-Check-Polling-Locatio" title="Check your registration" target="_blank" onclick="trackOutboundLink('https://www.bexar.org/2229/Voter-Registration-Check-Polling-Locatio',true,'Check Your Registration');">Check Your Registration</a></li>
						<li><a href="http://www.saspeakup.com/" title="2017 Budget Public Process" target="_blank" onclick="trackOutboundLink('http://www.saspeakup.com/',true,'Voice Your 2018 City of San Antonio Budget Priorities');">Voice Your 2018 City of San Antonio Budget Priorities</a></li>
						<li><a href="http://www.satomorrow.com/" title="SA Tomorrow" target="_blank" onclick="trackOutboundLink('http://www.satomorrow.com/',true,'Learn more about san antonios plans to address growth');">Learn more about San Antonio's plans to address growth</a></li>
						<li><a href="http://www.sa2020.org/" title="SA Tomorrow" target="_blank" onclick="trackOutboundLink('http://www.sa2020.org/',true,'Be part of San Antonios Progress');">Be part of San Antonio's Progress</a></li>
					</ul>
				
				</div> -->

			</div>
		</div>

	</div>
</section>

<hr />

{% include newsletter.html %}



<!-- <section class="faq-cta bg-sa-dark-aqua section-tight">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<p class="h3 text-sa-white">Still Got Questions?</p>
				<a class="btn btn-sa-white text-sa-dark-aqua" href="/faq/" title="frequently asked questions">FAQs</a>
			</div>
		</div>
	</div>
</section> -->

