---
layout: default
---

<div class="home">

  <section class="hero hero-home has-bg-img bg-color-overlay-cause-economic text-center" style="background-image: url(/img/maps/bg-map-home.png)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="uppercase text-sa-white">It's that time again!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="text-sa-white has-subtitle">2018 Midterm Election Primaries</h2>
          <p class="text-lg text-sa-white">Early Voting: Feb 20 &ndash; March 2, Election Day: March 6</p>
          <p><a class="btn btn-outline-sa-white" href="/2018-elections/" title="2018 election information">Everything you need to know</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tight">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <h2>San Antonio's Municipal Government</h2>
          <p>The current Mayor and Council Office acts as the policy-making and legislative body within the City's government. They were elected in 2017 and will be up for re-election in May, 2019.</p>
          <p><a href="http://www.sanantonio.gov/ElectionsCampaignFinance/City-Elections" title="find out more about city elections">Find out more >></a></p>
        </div>
        <div class="col-md-4">
          <div class="option-box option-box--candidate results-mayor">
            <div class="row">
              <div class="col-sm-6">
                <img class="responsive candidate-results" src="/img/candidates/mayor.png" alt="Ron Nirenburg Photo" />
              </div>
              <div class="col-sm-6">
                <h4 class="results-mayor-name has-subtitle">Ron Nirenberg</h4>
                <p class="">Mayor</p>
                <p><a href="http://www.sanantonio.gov/mayor" title="read more about the mayor" target="_blank">Learn More</a></p>

                <div class="social-icons">
                  <a class="text-xl" target="_blank" href="https://www.facebook.com/nirenberg/" title="view facebook page" onclick="trackOutboundLink('https://www.facebook.com/nirenberg/', true, ' Facebook');"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                  <a class="text-xl" target="_blank" href="https://twitter.com/Ron_Nirenberg" title="view twitter page" onclick="trackOutboundLink('https://twitter.com/Ron_Nirenberg', true, ' Twitter');"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                  <a class="text-xl" target="_blank" href="https://www.instagram.com/ron_nirenberg/" title="view instagram" onclick="trackOutboundLink('https://www.instagram.com/ron_nirenberg/', true, ' Instagram');"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="spacer-sm"></div>
          <h3 class="text-center">City Council</h3>
          <div class="row">
            <div class="results-cc col-md-2 col-md-offset-1 col-sm-4 col-xs-6">
              <img class="responsive candidate-results" src="/img/candidates/d1.png" alt="Roberto Trevino Photo" />
              <h4 class="has-subtitle">Roberto C. Treviño</h4>
              <p class="has-subtitle">District 1</p>
              <p><a href="/district-1/">Learn more</a></p>
            </div>
            <div class="results-cc col-md-2 col-sm-4 col-xs-6">
              <img class="responsive candidate-results" src="/img/candidates/d2.png" alt="no photo provided" />
              <h4 class="has-subtitle">William "Cruz" Shaw</h4>
              <p class="has-subtitle">District 2</p>
              <p><a href="/district-2/">Learn more</a></p>
            </div>
            <div class="results-cc col-md-2 col-sm-4 col-xs-6">
              <img class="responsive candidate-results" src="/img/candidates/d3.png" alt="Rebecca Viagran Photo" />
              <h4 class="has-subtitle">Rebecca J. Viagran</h4>
              <p class="has-subtitle">District 3</p>
              <p><a href="/district-3/">Learn more</a></p>
            </div>
            <div class="results-cc col-md-2 col-sm-4 col-xs-6">
              <img class="responsive candidate-results" src="/img/candidates/d4.png" alt="Rey Saldaña Photo" />
              <h4 class="has-subtitle">Rey Saldaña</h4>
              <p class="has-subtitle">District 4</p>
              <p><a href="/district-4/">Learn more</a></p>
            </div>
            <div class="results-cc col-md-2 col-sm-4 col-xs-6">
              <img class="responsive candidate-results" src="/img/candidates/d5.png" alt="Shirley Gonzales Photo" />
              <h4 class="has-subtitle">Shirley Gonzales</h4>
              <p class="has-subtitle">District 5</p>
              <p><a href="/district-5/">Learn more</a></p>
            </div>
          </div>
          <div class="row">
            <div class="results-cc col-md-2 col-md-offset-1 col-sm-4 col-xs-6">
              <img class="responsive candidate-results" src="/img/candidates/d6.png" alt="Greg Brockhouse Photo" />
              <h4 class="has-subtitle">Greg Brockhouse</h4>
              <p class="has-subtitle">District 6</p>
              <p><a href="/district-6/">Learn more</a></p>
            </div>
            <div class="results-cc col-md-2 col-sm-4 col-xs-6">
              <img class="responsive candidate-results" src="/img/candidates/d7.png" alt="Ana Sandoval Photo" />
              <h4 class="has-subtitle">Ana Sandoval</h4>
              <p class="has-subtitle">District 7</p>
              <p><a href="/district-7/">Learn more</a></p>
            </div>
            <div class="results-cc col-md-2 col-sm-4 col-xs-6">
              <img class="responsive candidate-results" src="/img/candidates/d8.png" alt="Manny Pelaez Photo" />
              <h4 class="has-subtitle">Manny Pelaez</h4>
              <p class="has-subtitle">District 8</p>
              <p><a href="/district-8/">Learn more</a></p>
            </div>
            <div class="results-cc col-md-2 col-sm-4 col-xs-6">
              <img class="responsive candidate-results" src="/img/candidates/d9.png" alt="John Courage Photo" />
              <h4 class="has-subtitle">John Courage</h4>
              <p class="has-subtitle">District 9</p>
              <p><a href="/district-9/">Learn more</a></p>
            </div>
            <div class="results-cc col-md-2 col-sm-4 col-xs-6">
              <img class="responsive candidate-results" src="/img/candidates/d10.png" alt="Clayton Perry Photo" />
              <h4 class="has-subtitle">Clayton Perry</h4>
              <p class="has-subtitle">District 10</p>
              <p><a href="/district-10/">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <hr />

  {% include newsletter.html %}


  <section class="has-bg-img bg-color-overlay-light-gray" style="background-image: url(/img/maps/bg-map-zoom.png)">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>Did you know?</h2>
        </div>
      </div><!--./row-->
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="number-box bg-tertiary">
            <p class="number-box--number text-sa-white">13.15%</p>
            <p class="number-box--description text-sa-white">of registered voters actually voted in the June runoff election.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="number-box bg-tertiary">
            <p class="number-box--number text-sa-white">754,462</p>
            <p class="number-box--description text-sa-white">Total registered voters in June 2017 in San Antonio</p>
          </div>
        </div>
      <!-- </div>
      <div class="row"> -->
        <div class="col-md-3 col-sm-6">
          <div class="number-box bg-tertiary">
            <p class="number-box--number text-sa-white">99,237</p>
            <p class="number-box--description text-sa-white">Total number of voters in June runoff election</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="number-box bg-tertiary">
            <p class="number-box--number text-sa-white">1.4M+</p>
            <p class="number-box--description text-sa-white">Estimated San Antonio Population in 2016</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="h4">More community indicators can be found at <a href="http://dashboard.sa2020.org/progress_type/civic-engagement/6/" title="sa2020 data dashboard" class="text-sa-black underline" target="_blank" onclick="trackOutboundLink('http://sa2020.org/progress', true, 'SA2020.org/progress');">sa2020.org/progress</a></p>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Where did all this amazing info come from?</h2>
          <div class="logo-container">
            
            <a target="_blank" href="http://cinow.info/" title="CI:Now Website"><img src="/img/logos/cinow.png" alt="CI:Now logo" class="credit-logo"/></a>            

            <a target="_blank" href="https://www.bexar.org/elections" title="Bexar County Elections Website"><img src="/img/logos/bexar-county.jpg" alt="Bexar County logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://www.sanantonio.gov/ElectionsCampaignFinance" title="City of San Antonio website"><img src="/img/logos/city-of-san-antonio.png" alt="City of San Antonio logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://tpr.org/programs/source#stream" title="Texas Public Radio website"><img src="/img/logos/tpr.png" alt="Texas Public Radio logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://organizesa.com" title="OrganizeSA"><img src="/img/logos/organize-sa.png" alt="OrganizeSA logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.civictechfoundation.org/" title="Civic Tech Foundation website"><img src="/img/logos/ctf.png" alt="Civic Tech Foundation logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.lwvsanantonio.org" title="League of Women Voters website"><img src="/img/logos/league-of-women-voters.jpeg" alt="League of Women Voters logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://www.votetexas.gov" title="Texas Secretary of State website"><img src="/img/logos/texas-secretary-of-state.png" alt="Texas Secretary of State logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://nowcastsa.com/category/politics" title="NowCastSA website"><img src="/img/logos/nowcastsa.png" alt="NowCastSA logo" class="credit-logo"/></a>

            <a target="_blank" href="https://therivardreport.com" title="Rivard Report website"><img src="/img/logos/rivard-report.png" alt="Rivard Report logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.sahcc.org/government-affairs" title="San Antonio Hispanic Chamber Website"><img src="/img/logos/sahcc.png" alt="San Antonio Hispanic Chamber of Commerce logo" class="credit-logo"/></a>

            <a target="_blank" href="http://thinkvoting.com" title="Think Voting Website"><img src="/img/logos/think-voting.png" alt="Think Voting App logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.vote411.org" title="Vote411.org"><img src="/img/logos/vote411.gif" alt="Vote411 logo" class="credit-logo"/></a>

            <a target="_blank" href="http://video.klrn.org/show/texas-week" title="KLRN website"><img src="/img/logos/klrn.png" alt="KLRN logo" class="credit-logo"/></a>

            <a target="_blank" href="http://movesanantonio.org" title="MOVE SA website"><img src="/img/logos/movesa.png" alt="MOVE SA logo" class="credit-logo"/></a>

            <a target="_blank" href="https://www.saspeakup.com" title="SA Speakup"><img src="/img/logos/speakup.jpg" alt="SASpeakUp Logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.mifamiliavota.org/where-we-are/texas/" title="Mi Familia Vota website"><img src="/img/logos/mi-familia-vota.jpg" alt="Mi Familia Vota logo" class="credit-logo"/></a>

          </div>
        </div>
      </div>
    </div>
  </section>

  
</div>
